body {
    font-family: 'Droid Serif', serif;
    font-size:14pt;
    line-height:2em;
}

main {
    width:70%;
    margin:auto;
}

img {
    width:100%;
}

.vertical-pics {
    display:block;
    width:50%;
    margin:0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    color:rgba(0,0,0,.8);
}

h1 {
    font-size:2.9em;
    line-height:1em;
    text-align:center;
}

h2 {
    font-size:1.7em;
}

p {
    width:80%;
    margin:auto;
    line-height:2em;
}

#drop-cap{
    color:rgba(0,0,0,.8);
    font-size:4em;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    float:left;
    padding-top:.2em;
    padding-right:.1em;
    
}

footer {
    text-align:center;
}

ul {
    margin-left:3.5em;
}

@media only screen and (max-width:600px){
    body {
        font-size:12pt;
    }

    .vertical-pics {
        width:70%;
    }

    main {
        width:90%;
    }
}

@media only screen and (max-width:320px){
    main{
        width:100%
    }

    .vertical-pics {
        width:100%;
    }

    ul {
        margin-left:.5em;
    }
}